<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>全名娱乐场</string>
			<key>subTitle</key>
			<string>猜球搓牌爽歪歪</string>
			<key>image</key>
			<string>LogoChampion.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>圈子</string>
			<key>subTitle</key>
			<string>交流互动畅享乐趣</string>
			<key>image</key>
			<string>LogoCQELE.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>足球圈</string>
			<key>subTitle</key>
			<string>最纯粹的足球</string>
			<key>image</key>
			<string>LogoGXK3.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>篮球圈</string>
			<key>subTitle</key>
			<string>NBA聚集地</string>
			<key>image</key>
			<string>LogoLanQiuJC.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>直播圈</string>
			<key>subTitle</key>
			<string>看球聊天秀态度</string>
			<key>image</key>
			<string>LogoK2.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>数字圈</string>
			<key>subTitle</key>
			<string>选号交流分享乐趣</string>
			<key>image</key>
			<string>LogoLKEle.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>高频圈</string>
			<key>subTitle</key>
			<string>除了快还有“脍”</string>
			<key>image</key>
			<string>LogoLNELE.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>买彩妹</string>
			<key>subTitle</key>
			<string>美丽魅力智慧并存</string>
			<key>image</key>
			<string>LogoPK.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>彩票预测</string>
			<key>subTitle</key>
			<string>易友中奖必看</string>
			<key>image</key>
			<string>LogoDLT.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>热门话题</string>
			<key>subTitle</key>
			<string>热热闹闹侃大山</string>
			<key>image</key>
			<string>LogoELE.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>双色球</string>
			<key>subTitle</key>
			<string>名家预测汇总</string>
			<key>image</key>
			<string>LogoF9.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>大乐透</string>
			<key>subTitle</key>
			<string>免费精品预测</string>
			<key>image</key>
			<string>LogoDLT.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>竞彩足球</string>
			<key>subTitle</key>
			<string>网易独家推荐</string>
			<key>image</key>
			<string>LogoQLC.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>竞彩篮球</string>
			<key>subTitle</key>
			<string>每日投注分析</string>
			<key>image</key>
			<string>LogoQXC.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>彩票预测</string>
			<key>subTitle</key>
			<string>易友中奖必看</string>
			<key>image</key>
			<string>LogoFootballBQC.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>篮球直播</string>
			<key>subTitle</key>
			<string>精彩赛事实况</string>
			<key>image</key>
			<string>LogoFootBallDCSFGG.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>彩票预测</string>
			<key>subTitle</key>
			<string>易友中奖必看</string>
			<key>image</key>
			<string>LogoFootBallDCSPF.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>体育资讯</string>
			<key>subTitle</key>
			<string>网易球迷乐园</string>
			<key>image</key>
			<string>LogoFootballF4CJQ.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>排列5</string>
			<key>subTitle</key>
			<string>暂停销售</string>
			<key>image</key>
			<string>LogoFootBallJC.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>快3系列</string>
			<key>subTitle</key>
			<string>暂停销售</string>
			<key>image</key>
			<string>LogoGDELE.png</string>
		</dict>
	</array>
</array>
</plist>
